<link rel="stylesheet" href="/css/footer.css">
<footer>
<div id="footer-container">
    <span id="first-block" class="footer-block">
        <p>Site map:</p>
    </span>
    <span id="first-block" class="footer-block"><p>Designed & developed by Vaibhav</p></span>
    <span id="first-block" class="footer-block"></span>

</div>
</footer>