<link rel="stylesheet" href="/css/header.css">
<header>
    <div id="navigationBar">
        <ul id="nav_list">
            <div id="home-div"> <li class="nav-options"><a href="/">Home</a></li> </div>
           
            <%if (locals.user){%>
               <div> <li class="nav-options"><a href="/users/profile/<%= user.id %>"><%= user.name %></a></li>
                <li class="nav-options"><a href="/users/sign-out">Sign Out</a></li></div>

            <%} else{ %>
                <div><li class="nav-options"><a href="/users/sign-up">Create Account</a></li>
                <li class="nav-options"><a href="/users/sign-in">Login</a></li></div>

            <% } %>
            

        </ul>
    </div>   
</header>