<link rel="stylesheet" href="/css/user_profile.css">
    <div>
        <h1>Codeial / <%= title%></h1> 
        <a href="/users/sign-out">Sign Out</a>
    </div>
    <h3>Name: <%=user.name%></h3>
    <h3>Email: <%= user.email%></h3>

    